*{

    box-sizing: border-box;
    margin: 0;

}

.app{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: -webkit-linear-gradient(45deg,#2196f3,#e91e63);


}

.calculator{

height: 70%;
width:60%;
max-width: 400px;
padding: 40px;
border-radius: 20px;
font-size: 20px;
background: rgba(255, 255, 255, 0.157);
perspective: 1000px;
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px rgba(255, 255, 255, 0.191), 20px 20px 0px 0px rgba(255, 255, 255, 0.115), 25px 25px 0px 0px rgba(255, 255, 255, 0.032), 4px 11px 15px 22px rgba(0, 0, 0, 0.023);
transform: skewX(-10deg);
}

.header{
    display: flex;
    color: rgba(255, 255, 255, 0.441);
    background-color:rgba(255, 255, 255, 0.064);
    justify-content: end;
    border-radius: 20px;
    
}
.display{
    height: 20%;
    width: 100%;
    color: white;
    text-shadow: 3px 5px 2px #474747;
    background-color: rgba(255, 255, 255, 0.032);
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "output previous"
    "output current"
    ;
}


.output{
    grid-area: output;
    background:none;
    font-size: 50px;
    overflow: hidden;
    
}
.wobble{
    animation: wobble 1s ease 0s 1 normal forwards;
}
@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.previous{
    display: block;
    background-color:none;
    grid-area: previous;
    font-size: 8px;
    
    }
.current{
 background-color:none;
 grid-area: current;
 overflow: hidden;
}


.keys{

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,25%);
    height: 80%;
    width: 100%;
    gap: 0px;
    padding-top: 5px;
}

.keys button{
    color: white;
    text-shadow: 3px 5px 2px #474747;
    font-size: 15px;
    background-color:rgba(255, 255, 255, 0);  
    border: 1px rgba(255, 255, 255, 0.183) solid;
    border-radius: 20px;
    transition: all .3s ease;
    margin: 3px;
}

.keys button:hover{
    cursor: pointer;
    transform: scale(1.2) translateX(-10px);
    background-color: rgb(55, 152, 255);
    font-size: 15px;
    
}

.equals{
    grid-column:span 2;
}